@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}


body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}


header {
    max-width: 1400px;
    margin: 0 auto;

}

footer {
    max-width: 1400px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    color: brown;
}



h1 {
    color: gold;
    text-align: center;
    margin: 20px auto;
    font-weight: 700;
}

h2 {
    color: gold;
    text-align: center;
    font-weight: 400;
}

main {
    max-width: 900px;
    margin: auto;
}

label {
    color: rgb(0, 0, 0);
}

form {
    background-color: rgb(219, 219, 219);
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid gold;
    display: block;
    margin: 0 auto;
}


/* menu superior */

.menu-superior {
    list-style: none;
    display: inline;
    text-align: right;
    position: relative;
    border: 2px solid rgb(253, 0, 0);
}

.letra-menu-sup {
    color: rgb(255, 0, 0);
    text-decoration: none;
    margin-right: 5px;

}

.letra-menu-sup:hover {
    color: gold;
}



.hero {
    width: 75vw;
    max-width: 1400px;
    min-width: 320px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}


.hero2 {
    max-width: 500px;
    height: 200px;
    margin: 30px auto 30px auto;
    display: block;
}

/* menu inferior */


.titulo-inferior {
    color: gold;
    display: inline-block;
}

.parrafo {
    text-align: center;
    color: white;
}

.redes li a {
    color: brown;
    text-decoration: none;
}

.redes li a:hover {
    color: gold
}

.redes li {
    list-style: none;
}
.redes {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

/* pagina personajes */
.nombre {
    color: red;
    text-align: center;
    font-weight: 300;
}

.personaje_img {
    border-radius: 30px;
    width: 380px;
    height: 270px;
    margin: 30px auto;
    display: block;
}

/* pagina tienda */
.container_card {
    width: 100%;
    border: 10px solid #000;
    display: inline-block;

}

.main_container_card {
    background-color: rgb(3, 47, 85);
    border: 10px solid;
    margin: 0 auto;

}

.img_cartas {
    width: 100%;
    margin: 0 auto;

}

.card_nomber {
    color: gold;
    font-size: 400;
}

.precio {
    font-weight: 700;
    color: gold;
}

.card {
    display: inline-block;
    width: 40%;
    margin: 25px;
    border: 3px solid gold;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
}

/* pagina temporada */

.nombre_saga {
    font-size: 700;
    text-align: left;
    color: gold;
}

.tex_saga {
    font-size: 300;
    text-align: center;
    color: white;
}

.img_tempo {
    width: min(90%, 500px);
    display: block;
    margin: 0 auto;
    border-radius: 8%;
    border: 2px solid gold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.div_tempo {
    border: 1px solid silver;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}